<%= render partial: "layouts/admin_nav"%>

<div id="content">
  <div class="container mb-5 whiteContainer">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 mb-5">
        <h2>Création d'un regroupement</h2>
      </div>
    </div>
    <%= render 'form', club: @club, club_url: admin_clubs_path %>
  </div>
</div>
