<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patch_type.name %>
</p>

<%= link_to 'Edit', edit_admin_patch_type_path(@patch_type) %> |
<%= link_to 'Back', admin_patch_types_path %>
